<div class="example-container">
    <h1>Poll Single API</h1>
    <mat-divider></mat-divider>
    <img class="example-image" src="assets/images/network/poll-single-api.PNG" alt="Example Image">
    &nbsp;
    <img class="example-image" src="assets/images/network/poll-single-api-2.PNG" alt="Example Image">
    <div class="sections">
        <div class="section section-1">
            <ng-container *ngIf="(students$ | async) as students">
                <h2>Students list</h2>
                <mat-list role="list">
                    <mat-list-item role="listitem" *ngFor="let student of students">{{ student.firstName }} {{
                        student.lastName }}</mat-list-item>
                </mat-list>
            </ng-container>
        </div>
    </div>
</div>