<div class="example-container">
    <h1>Sequential Requests (Static)</h1>
    <mat-divider></mat-divider>
    <img class="example-image" src="assets/images/network/sequential-requests-static.PNG" alt="Example Image">
    <div class="button-div">
        <button mat-raised-button color="primary" (click)="click$.next(null)">Get</button>
    </div>
    <div class="sections">
        <div class="section section-1">
            <ng-container *ngIf="(alphaFields$ | async) as alphaFields">
                <h2>Demographics Fields</h2>
                <mat-list role="list">
                    <mat-list-item role="listitem" *ngFor="let alphaField of alphaFields">{{ 'name: ' + alphaField.name }} {{ 'required: ' + alphaField.required }}</mat-list-item>
                </mat-list>
            </ng-container>
        </div>
    </div>
</div>